<!doctype html>
<html>
	<head>
	 <meta charset="UTF-8">
	  <title>HW Assignment 5: GET and POST Checker</title>
	  <link rel="stylesheet" href="/styles/ss.css" type="text/css">
	</head>
	<body>
		{{{body}}}
	</body>
</html>